@media(max-width:320px) {
    .container-principal {
        min-width:320px;

    }

    .container-segundario {
        background-image: url('../images/bg-mobile.svg');
    }

    .logo {
        padding-top: 30px;
        padding-left: 15px;
        padding-bottom: 0px;
    }

    .logo img {
        width: 150px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container .imagem-principal {
        width: 270px;
        margin-top: 40px;
        margin-left: 0px;
    }

    .container .infor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 290px;
        margin-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .container .infor h1,
    h2 {
        font-size: 25px;
        line-height: 30px;
    }

    .container .infor p {
        font-size: 15px;
        text-align: center;
        padding: 16px;
        font-weight: 200;
        line-height: 20px;
        margin: 0;
    }

    .container .infor .botao {
        padding: 10px 70px;
        margin: 0;
    }

    .social {
        text-align: center;
        padding-right: 0px;
        padding-bottom: 8px;
        margin-left: 0px;
    }

    .social a {
        color: #fff;
        padding: 8px;
        font-size: 10px;
    }
}